[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	branch = master
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
