[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
	branch = master
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	branch = master
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot
[submodule "vitetris"]
	path = vitetris
	url = https://github.com/pulp-platform/vitetris.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/openhwgroup/u-boot
	branch = cva6
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv/opensbi.git
