image sdcard.img {
    hdimage {
        partition-table-type = "gpt"
		# Prevents warning: https://github.com/pengutronix/genimage/issues/175
		gpt-no-backup = true
    }

    partition "OpenSBI with u-boot as payload" {
        partition-type-uuid = "7412f7d5-a156-4b13-81dc-867174929325"
        image = "fw_payload.bin"
    }

    partition "Linux with u-boot header" {
        partition-type-uuid = "linux"
		offset = 512M
        image = "uImage"
	}
}
