image sdcard.img {
    hdimage {
        partition-table-type = "gpt"
    }

    partition "OpenSBI with u-boot as payload" {
        # "U-Boot" UUID in u-boot namespace
        # https://lists.denx.de/pipermail/u-boot/2020-November/432928.html
        partition-type-uuid = "aaa01589-8cd3-5f10-8785-832ffbc41d64"
        image = "fw_payload.bin"
    }

    partition "FIT image" {
        partition-type-uuid = "linux"
        image = "boot.vfat"
    }
}

image boot.vfat {
    vfat {
        file "fitImage.itb" {
            image = "fitImage.itb"
        }
    }
    size = 32M
}
